/* Main container */
.main {
  display: flex;
  height: 100vh;
  font-family: "Arial", sans-serif;
  overflow: hidden; /* Prevents scrollbars on the main container */
}

/* Left Section */
.leftSection {
  flex: 1;
  background-image: url("/img/landing2.jpeg");
  background-size: cover;
  background-position: center;
  color: rgb(145, 112, 167);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Aligns content vertically */
  padding: 2rem;
}

.heroTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.heroSubtitle {
  font-size: 1rem;
  line-height: 1.5;
  color: #050505; /* Lighter color for bottom text */
  max-width: 60%;
  margin-top: auto; /* Aligns it to the bottom */
} /* Right Section */
/* Right Section */
.rightSection {
  flex: 1;
  background-color: #e9edf6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.form {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Stronger shadow */
  width: 500px;
  max-width: 800px;
  margin: 0 auto;
  height: 700px;
  overflow-y: auto; /* Allow scroll if needed */
}

/* Hide the scrollbar but allow scrolling */
.form::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.formHeader {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.formSubHeader {
  font-size: 0.8rem;
  color: rgb(15, 13, 13);
  text-align: center;
  margin-bottom: 1.5rem;
}

.inputLabel {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.inputField {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.submitButton {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: #121315;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.submitButton:hover {
  background-color: #333;
}

.redirectText {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.loginLink {
  color: #0070f3;
  text-decoration: underline;
}

.termsText {
  margin-top: 2rem;
  font-size: 0.7rem;
  text-align: center;
  color: black;
}
