/* Container for the whole form */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 0 20px;
  
}

.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px; /* Limiting the width of the form */
  padding: 20px;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

/* Title for the form */
.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;

}

/* Basic styling for form fields */
.field {
  width: 100%;
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;

}

/* Input fields styling */
.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: #5f0077; /* Focus border color */
  box-shadow: 0 0 5px rgba(95, 0, 119, 0.5); /* Focus shadow */
}

/* Flexbox layout for options */
.option {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.button {
  padding: 12px;
  background-color: #5f0077;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #9b16b9; /* Darker purple when hovered */
}

.button:active {
  background-color: #3e005d; /* Darkest purple when clicked */
} 
/* Header styling */
.header {
  display: flex;
  justify-content: space-between; /* Distribute the items (close icon and title) */
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  text-align: center;
  color: #fff;
  flex-grow: 1; /* Ensure title takes available space */
}

/* Close icon (FaTimes) */
.closeIcon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.closeIcon:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

/* Eye icon (FaEye) */
.eyeIcon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.eyeIcon:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}
